.advantages {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 2;
}


.advantages__title {
  color: #1E222E;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 32px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: counter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.advantages__item {
  color: #1E222E;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  counter-increment: counter;
  position: relative;
  min-height: 40px;
  padding: 0 0 0 60px;
  display: flex;
  align-items: center;
}

.advantages__item::before {
  position: absolute;
  color: #4F6AE8;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  content: counter(counter);
}
