.footer {
  position: sticky;
  bottom: 0;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* gap: 150px; */
  padding-top: 108px;
}

.footer__menu-wraper {
  padding: 0;
  display: flex;
  gap: 24px;
}

.footer__menu-inner {
  list-style: none;
  color: #adafba;
  font-size: 12px;
  line-height: 14px;
}

.footer__menu-inner--logo {
  display: flex;
  gap: 8px;
}