.footer {
  margin: auto 0;
  padding: 16px 0;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* gap: 150px; */
}

.footer__menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.footer__menu-inner {
  list-style: none;
}

.footer__menu-link {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #baadad;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__menu-link--alt {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer__menu-copiright {
  color: #adafba;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer__menu-link:hover {
  color: #3356d7;
}
/* Цвет иконки не меняется */
.footer__menu-link:hover .footer__menu-icon {
  fill: #3356d7;
}

.login-form-reg {
  color: #476bf0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.login-form-reg:hover {
  color: #3356d7;
}

.footer__theme {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.footer__theme-text {
  color: #767a85;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


