.forgot-data__container {
  padding: 156px 469px 184px;
}

.forgot-data__wraper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* margin: 156px 467px 184px; */
  position: relative;
  padding: 32px;
  width: 450px;
  /* min-height: 315px; */
  background: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 24px 0px rgba(127, 34, 85, 0.02);
}

.forgot-data__button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 20px 0px #101a3b1a;
  background: #ffffff;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 22px;
  left: -24px;
  color: #1e222e;
}
.forgot-data__button-back:hover {
  color: #476bf0;
}

.forgot-data__button-back:focus-visible {
  color: #476bf0;
}

.forgot-data__button-back:disabled {
  background: #dbdfeb;
  color: #777c9b;
}

.forgot-data__button-back--disabled {
  background-color: #DBDFEB;
  color: #777C9B;
}

.forgot-data__title {
  color: #1e222e;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 32px;
}

.forgot-data__radio-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 386px;
  padding: 28px 32px;
  margin: 0 0 28px;
  /* position: absolute; */
  border-radius: 12px;
  border: 1px solid rgba(205, 207, 222, 0.5);
  color: #cdcfde;
}

.forgot-data__input-btn {
  width: 386px;
  color:#FFFFFF;
  border: none;
  background: #476BF0;
  width: 100%;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  padding: 14px;
  cursor: pointer;
}

.forgot-data__input-btn:hover {
  background-color: #3356D7;
}

.forgot-data__input-btn:focus-visible {
  background-color: #2143C1;
}