.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 766px;
  padding: 20px 0 0;
}

.header__main-info {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: end;
}

.header__wraper-info {
  position: relative;
  padding: 0 56px 0 0;
}

.header__main-info-logo {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.header__main-title {
  color: #777b87;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header__main-text {
  color: #a8acb7;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
