.input-btn {
  color: #ffffff;
  border: none;
  background: #476bf0;
  width: 100%;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  padding: 14px;
  margin: 0 0 24px;
  cursor: pointer;
}

.input-btn:hover {
  background: #3356d7;
}

.input-btn:focus-visible {
  background: #2143c1;
  outline: none;
}

.input-btn:disabled {
  background: #dbdfeb;
  color: #777c9b;
}
