.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 76px 0 108px;
}

.login-form__inner {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 2px 24px 0px #7f225505;
  border: 1px solid #cdcfde;
  border-radius: 20px;
}

.login-form__top {
  padding: 32px;
}

.login-form__wraper {
  position: relative;
}

.login-form__title {
  margin: 0 0 28px;
  color: #1e222e;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.login-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.login-form__input-field-wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0 0 24px;
}

.login-form__bottom {
  background: linear-gradient(90deg, #f5f6fa 0%, #f7f1f7 51.5%, #f5f7fd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  min-height: 80px;
  border-radius: 0 0 20px 20px;
}

.login-form__bottom-text {
  color: #7e7d87;
  font-size: 14px;
  line-height: 16px;
}

.login-form__bottom-link {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #7e7d87;
  font-size: 14px;
  line-height: 16px;
}

.login-form__bottom-wraper-logo {
  width: 32px;
  height: 32px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
}

.login-form__bottom-link:hover {
  color: #3356d7;
}

.login-form-reg {
  color: #476BF0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.login-form-reg:hover {
  color: #3356d7;
}

.login-form__link {
  display: block;
  text-align: center;
  color: #1e222e;
  font-size: 16px;
  line-height: 20px;
  /* margin: 0 0 32px; */
}

.login-form__link:hover {
  color: #3356d7;
}

.login-form__link:focus-visible {
  outline: none;
}