.reg {
  display: flex;
  padding: 14px 175px 14px 178px;
  gap: 80px;
  position: relative;
}

.reg__left {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 2px 24px 0px #7f225505;
  border-radius: 20px;
  padding: 32px;
}

.reg__form-wraper {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.reg_left-title {
  text-align: center;
  color: #1e222e;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 28px;
}

.reg__form-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 20px;
}

.custom-input--smoll {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.custom-input--smoll .custom-input {
  width: 188px;
  
}

.reg__captcha {
  margin: 0 0 24px;
}

.reg__captcha-input {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reg__captcha-input .custom-input {
  width: 188px;
}

.reg__captcha-title {
  width: 386px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}

.reg__captcha-reboot {
  display: flex;
  width: 16px;
  height: 16px;
  border: none;
  color: #8F939F;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.reg__captcha-picture {
  width: 188px;
  height: 44px;
  padding: 0 32px;
  display: flex;
  border: 1px solid #cdcfde;
  border-radius: 8px;
  color: #8f939f;
}

.reg__captcha-img {
  height: 100%;
}

.reg__login-link {
  position: absolute;
  left: 321px;
  bottom: -40px;
  color: #476bf0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.reg__input-btn {
  color: #ffffff;
  border: none;
  background: #476bf0;
  width: 100%;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  padding: 14px;
  margin: 0 0 24px;
  cursor: pointer;
}